{% extends 'base.html' %}
{% from 'macro/form_errors.html' import form_field_errors %}
{% block title %}{{ super() }} - Register{% endblock %}
{% block header %}
    <link rel="stylesheet" href="./assets/style/login.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1658093_nokjvsp8hws.css">
{% endblock %}
{% blocklayout% %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <!-- Message area -->
            {% include 'components/flash_messages.html' %}
            <div class="login-header">
                <h2 class="title text-center">Online Forum-Register</h2>
                <div class="slogan text-center">Ask and Learn</div>
            </div>
            <form class="login-form box-wrap" method="POST" action="{{ url_for('accounts.register') }}">
                {{ form.csrf_token }}
                <div class="form-group">
                    <label for="id-user-name">Username</label>
                    {{ form.username }}
                </div>
                {{ from_field_errors(form.username.errors) }}
                <div class="form-group">
                    <label for="id-nick-name">Nickname</label>
                    {{ form.nickname }}
                </div>
                {{ from_field_errors(form.nickname.errors) }}
                <div class="form-group">
                    <label for="id-password">Password</label>
                    {{ form.password }}
                </div>
                {{ from_field_errors(form.password.errors) }}
                <div class="form-group">
                    <label for="id-confirm-password">Confirm Password</label>
                    {{ form.confirm_password }}
                </div>
                {{ form_field_errors(form.confirm_password.errors) }}
                <div class="form-group">
                    <button type="submit" class="btn btn-info btn-block btn-lg">Register</button>
                </div>
                <p class="desc">Login with mobile<br/>
                    Agree with《User Agreement》</p>
                <p class="text-right">registered，<a href="{{ url_for('accounts.login') }}">click to login</a></p>
            </form>
            <!-- Login with social media -->
            <div class="login-social box-wrap">
                <span>Login with social media</span>
                <div class="right">
                    <span><i class="iconfont icon-wechat"></i>Wechat</span>
                    <span><i class="iconfont icon-qq"></i>QQ</span>
                    <span><i class="iconfont icon-weibo"></i>Weibo</span>
                </div>
            </div>
            <!-- footer -->
            <div class="login-footer">
                <a href="">About</a>
                <a href="">Contact us</a>
                <a href="">Qualifications</a>
                <a href="">Column</a>
                <br>
                <a href="">ICP 0000000001</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}